# This list of files to ignore includes common, tool- or user-specific files that
# are typically not checked into a version control system (VCS). It is a superset
# of such files. You may want to add others, especially if you use a tool not listed
# here. You can remove those that do not apply to you.
#
# The .gitignore file is intended for the git VCS. For another VCS you would specify
# which files to ignore in whatever form your VCS requires. If you do not check your
# code into a VCS, you can ignore the .gitignore file.

# ModusToolbox library repos or information about library dependencies
libs/

# Eclipse IDE for ModusToolbox files
#.metadata/
# .cyignore
# .settings/
# .cproject
# .project
# .mtbLaunchConfigs/

# ModusToolbox Configurator generated code
GeneratedSource/

# ModusToolbox build system output
build/
Debug/
Release/
*_build/

# Visual Studio Code
#openocd.tcl
#.vscode/
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# IAR Embedded Workbench files

# IAR Project file.
# *.ewp

# IAR Settings
/settings/

# Uncomment this if not using project connections
# *.ipcf

# Comment this out if using custom argument variables
#*.custom_argvars

# IAR Debugger Settings
# *.ewd

# Comment this out if you use C-Stat or C-Run to compile/analyze your project
#*.ewt

# Compiled Binaries
*.bin
*.elf
*.hex
*.map

# Trash files
*.bak

# Generated output files
*.lst
*.map

# Eclipse workspace/user-specific files/settings/caches
#.metadata/
# .settings/

# Windows Explorer incidental files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
